@use "@Styles/shared" as *;

.Article_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    width: fit-content;
    h1{
        text-align: left;
        font-size: 1.2rem;
    }
    p{
        text-align: left;
    }
  .Article_image {
    border-radius: 10px;
    border: 1px solid $FloralWhite;
  }

  @media screen and (min-width: 900px) {
    margin-bottom: 30px;
  }
}
