// Colors
$DarkAmethyst: #10002b;
$PurpleAmethyst: #240046;
$IndigoInk: #3c096c;
$IndigoVelvet: #5a189a;
$RoyalViolet: #7b2cbf;
$LavenderPurple: #7b2cbf;
$MauveMagic: #c77dff;
$Mauve: #c77dff;
$FloralWhite: #fffcf2;
// Other variables
