@use "@Styles/shared" as *;
.Modal_wrapper {
  position: fixed;
  bottom: -115%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 400;

  border-radius: 10px;
  padding: 20px;
  gap: 5px;

  color: $FloralWhite;
  background-color: $DarkAmethyst;

  @media screen and (min-width: 1000px) {
    top: 50%;
    left: 74%;
    height: 90vh;
    width: 50vw;
  }

  @media screen and (min-width: 1200px) {
    top: 50%;
    left: 80%;
    height: 90vh;
    width: 35vw;
  }

  .Modal_header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.7rem;

    @media screen and (min-width: 900px) {
      font-size: 0.9rem;
    }

    .Modal_title-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .Modal_Flag {
      display: inline;
      border-radius: 10px;
    }
  }

  .Modal_country-data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 900px) {
      gap: 8px;
    }
  }

  .Modal_news-section {
    h1 {
      text-align: left;
    }
  }
}
